.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret

*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

.vagrant
.cache

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml